fastapi
uvicorn[standard]
SQLAlchemy
pymysql
python-multipart
cryptography
PyJWT==2.9.0
passlib[bcrypt]==1.7.4
stripe>=11.0.0
openai
pillow
httpx
email-validator
janome
pywebpush==2.0.3
firebase-admin
